/** Roboto Condensed **/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 75px;
  padding-bottom: 75px;
}

.container {
  padding-left: 60px;
  padding-right: 60px;
}

.row {
  display: flex;
  flex-direction: row;
}

.txt-right {
  text-align: right;
}

.bg-dark {
  position: absolute;
  z-index: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #101010;
}

/* ===========================
            Grid-View
   =========================== */

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

/* ===========================
            SUPPORT
   =========================== */

h2 {
  position: relative;
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 40px;
  color: #ec7532;
  letter-spacing: 1.7px;
  font-weight: 400;
  padding-bottom: 20px;
  margin-bottom: 40px;
  line-height: 1.4;
}

h2:after {
  position: absolute;
  right: auto;
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  width: 125px;
  height: 4px;
  display: block;
  content: "";
  bottom: -1px;
}

.home_content .home_cate,
.movie-list_content .movie-list_cate,
.coming_content .coming_cate {
  color: #fbbd61;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
}

.home_content .home_title,
.coming_content .coming_title {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 52px;
  font-weight: 300;
  letter-spacing: 3px;
}

.coming_content .coming_title {
  font-size: 34px !important;
}

.home_content .home_desc,
.coming_content .coming_desc {
  color: #ffffff;
  font-size: 18px;
}

.movie-list_content .movie-list_button,
.coming_content .coming_button {
  font-size: 12px;
  position: relative;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #e47532;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 45px;
  display: inline-block;
}

.movie-list_tab .movie-tab,
.search_content .movie-tab {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #d8d8d8;
}

.section-search-list .search_content,
.section-location .location_content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 30px 30px 0 0;
}

.section-search-home h1,
.section-contact-home h1 {
  font-size: 52px;
  font-weight: 300;
  letter-spacing: 3;
  color: #ffffff;
}

.section-search-home .title,
.section-contact-home .title {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fbbd61;
  font-weight: bold;
}

/* ===========================
            HOME
   =========================== */

.section-home {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 600px;
  background-image: url(../images/hero/hero-1.jpg);
  background-size: cover;
  background-position: center;
  background-color: #000;
  display: flex;
  align-items: center;
}

.section-home::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
  background-image: -webkit-gradient(
    linear,
    right bottom,
    right top,
    color-stop(0, rgba(0, 0, 0, 0)),
    color-stop(1, rgb(0, 0, 0))
  );
  background-image: linear-gradient(
    to top,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background-image: -o-linear-gradient(
    bottom,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background-image: -moz-linear-gradient(
    bottom,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background-image: -webkit-linear-gradient(
    bottom,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background-image: -ms-linear-gradient(
    bottom,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.home_content {
  position: relative;
  padding-left: 60px;
}

.home_content .btn-default {
  width: auto;
  margin-top: 20px;
  position: relative;
  display: inline-block;
  border: none;
  overflow: hidden;
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  padding: 15px 24px;
  border-radius: 30px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 4px;
  font-size: 13px;
  touch-action: manipulation;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  vertical-align: middle;
}

.home_content .btn-default span,
.home_content .btn-default span:hover {
  position: relative;
  z-index: 1;
  color: #fff;
}

.home_content .btn-default:before {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -15px;
  width: 0;
  height: 100%;
  content: "";
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: skewX(30deg);
  -ms-transform: skewX(30deg);
  transform: skewX(30deg);
  background: #ec7532;
}

.home_content .btn-default:hover:before {
  width: 140%;
}

.home_content .btn-default:hover {
  background: #fbbd61;
}

.home_content .certificate {
  font-size: 13px;
  font-weight: bold;
  line-height: 48px;
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  transform: translateY(13px);
  text-align: center;
  color: #ffffff;
  border: solid 2px #ffffff;
  border-radius: 50%;
}

/* ===========================
            SLIDER
   =========================== */

.movie-slick {
  text-align: center;
  padding-right: 20px;
}

.movie-slick .movie_content img {
  border-radius: 10px;
  cursor: pointer;
}

.movie_content .movie_name {
  margin: 20px 0 20px 0;
  color: #4a4a4a;
  font-weight: 500;
}

.movie_content .movie_rate i.fa-star {
  color: #fbbd61;
}

.icon-gray {
  color: #d8d8d8 !important;
}

/* ===========================
          MOVIE LIST
   =========================== */

/* Style the tab */
.tab {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  color: #ec7532;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 40px 12px;
  border-top: none;
}

.movie-list_tab .tablinks {
  position: relative;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 10px 30px 15px 30px;
  text-transform: uppercase;
  display: block;
  color: #4a4a4a;
}

.movie-list_img img {
  border-radius: 10px;
  width: 165px;
}

.movie-list_content .movie-list_title {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #000 !important;
  margin-top: 10px;
}

.movie-list_content .movie-list_desc {
  color: #717171;
  font-size: 16px;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 0%);
  margin-top: 10px;
  line-height: 1.5;
}

.movie-list_content .movie-list_view {
  font-size: 12px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #4a4a4a;
}

.movie-list_content .movie-list_time {
  font-size: 14px;
  display: inline-block;
  margin-left: 5px;
  padding: 7px 10px;
  letter-spacing: 2px;
  border-radius: 5px;
  background-color: #d8d8d8;
}

.movie-list_content .movie-list_time.past {
  opacity: 0.5;
}

.movie-list_content .movie-list_runtime {
  font-size: 12px;
  letter-spacing: 1.5;
  color: #717171;
}

.movie-list_content .movie-list_certificate {
  font-size: 13px;
  font-weight: bold;
  line-height: 33px;
  display: inline-block;
  width: 33px;
  height: 33px;
  margin-left: 5px;
  text-align: center;
  letter-spacing: 0;
  color: #fff;
  border-radius: 50%;
  background: #4a4a4a;
}

/* ===========================
          COMING SOON 
   =========================== */

.section-coming {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 600px;
  background-image: url(../images/hero/slide-7.png);
  background-size: cover;
}

.section-coming h2 {
  color: #ffffff !important;
}

.coming_content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coming_video-content {
  position: relative;
}

.coming_video-content .coming_play {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 60%;
  width: 80px;
  height: 80px;
  font-size: 27px;
  border: 1px solid #ec7532;
  text-align: center;
  line-height: 75px;
  border-radius: 50%;
  text-indent: 3px;
  color: #ffffff;
}

.coming_video {
  width: 100%;
  text-align: right;
}

.coming_content .coming_rate {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.coming_content .coming_rate i.fa-star {
  color: #f3fc31;
}

.coming_content .coming_date {
  display: inline-block;
  margin-left: 10px;
}

.coming_content .coming_date i,
.coming_content .coming_date span {
  color: #ffffff;
  margin: 3px;
}

.coming_video .coming_preview img {
  box-shadow: 0 0 50px 15px rgb(0 0 0 / 75%);
}

.coming_content .coming_desc {
  margin-top: 20px;
}

/* ===========================
       COMING SOON - SLIDER 
   =========================== */

.section-coming-slide {
  background: #101010;
}

.section-coming-slide figure {
  opacity: 0.35;
  transition: all 300ms ease-in-out;
}

.section-coming-slide figure:hover {
  opacity: 1;
}

.slick-active {
  opacity: 1 !important;
}

.section-coming-slide .movie_name,
.section-coming-slide .movie_date {
  color: #ffffff;
}

.section-coming-slide .movie_name {
  margin: 20px 0 5px 0;
}

.section-coming-slide .movie_date {
  opacity: 0.5;
}

/* ===========================
         SUPPORT TEAM  
   =========================== */

.section-support,
.section-support-2 {
  position: relative;
  padding-top: 15%;
  width: 100%;
  height: 100%;
  min-height: 300px;
  background-color: #ffffff;
}

.section-support-2 {
  padding-top: 7% !important;
  background-color: whitesmoke;
}

.section-support p,
.section-support-2 p {
  font-size: 23px;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 1px;
  color: #4a4a4a;
}

.section-support .gradient-text,
.section-support-2 .gradient-text {
  color: transparent;
  background: linear-gradient(330deg, #fbbd61 0%, #ec7532 100%);
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 46px;
  font-weight: 400;
}

/* ===========================
            FOOTER 
   =========================== */

.section-footer {
  width: 100%;
  height: 100%;
  background: #101010;
}

.section-footer h3 {
  color: #ec7532;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 20px;
}

.section-footer a {
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
  display: inline-block;
  letter-spacing: 1.5px;
  padding: 3px 0;
  font-weight: 500;
}

.section-footer ul {
  list-style-type: none;
}

.section-footer ul i {
  width: 20px;
}

.section-footer .footer-copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 50px;
  padding: 20px 0;
}

.section-footer .footer-copyright p {
  color: #ffffff;
  font-size: 14px;
}

/* ===================================================================================================== 

    Page - 2 ::  Search Fillter  
   
   ===================================================================================================== */

.section-search-home {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 400px;
  background-image: url(../images/search-img/hero-search.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.section-search-list {
  position: relative;
  z-index: 2;
  height: 100%;
  min-height: 600px;
}

.section-search-list .search_content input {
  border-radius: 30px;
}

.section-search-list .search_content input:focus {
  outline: none;
}

.negative-margin {
  margin-top: -200px;
}

.search_content .input-data {
  position: relative;
}

.search_content .input-data i {
  position: absolute;
  top: 15%;
  right: 1%;
}

/* -------------------------------------------------- 
                     Search List
    -------------------------------------------------- */

#myInput {
  background-image: url("/css/searchicon.png");
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 40px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

/* ===================================================================================================== 

    Page - 3 ::  Contact  
   
   ===================================================================================================== */

.section-contact-home {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 400px;
  background-image: url(../images/hero/hero-contact.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.section-location {
  position: relative;
  padding-bottom: 30px;
}

.section-location .negative-margin {
  margin-top: -140px;
} 

.location_content .location_map {
  margin-bottom: 40px;
}

.location_content .location_form label {
  font-size: 12px;
  font-weight: normal;
  display: block;
  margin-bottom: 5px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #4A4A4A;
}

.location_content .location_form input,
.location_content .location_form textarea {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #D8D8D8;  
  transition: all 300ms ease-in-out;
  margin-bottom: 15px;
}

.location_content .location_form input:focus,
.location_content .location_form textarea:focus {
  outline: none;
  border: 1px solid #EC7532;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.location_button .btn {
  display: inline-block;
  padding: 12px 24px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 30px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  border-width: 2px;
}

.location_button .btn-default {
  color: #EC7532;
  border-color: #EC7532;
  transition: all 300ms ease-in-out;
}

.location_button .btn-default:hover {
  color: #FFFFFF;
  background: #EC7532;
}

.location_icon span {
  width: 100px;
  height: 100px;
  display: block;
  border: solid 2px #D8D8D8;  
  text-align: center;
  border-radius: 50%;
}

.location_icon span i {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 34px;
  color: #EC7532;
}

.location_text h4 {
  font-size: 18px;
  color: #4A4A4A;
  margin-bottom: 5px;
  font-weight: 400;
}

.location_text p {
  font-size: 16px;
  color: #717171;
}

.col-sm-push-1 {
  padding-left: 8.33333333%;
}

.col-sm-push-1 .col {
  display: flex;
  align-items: center;
}

.col-sm-push-1 .row-col {
  margin-bottom: 35px;
}

/* ====================================

      Loading animation style
   
   ====================================  */
   
.loading * {
  display: none;
}

.dots-loader:not(:required) {
  opacity: 1;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -4px;
  margin-top: -4px;
  text-indent: -9999px;
  display: inline-block;
  width: 8px;
  height: 8px;
  background: transparent;
  border-radius: 100%;
  box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px,
    #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  animation: dots-loader 5s infinite ease-in-out;
  transform-origin: 50% 50%;
  transform: scale(1);
  transition: 0.3s all;
}

@keyframes dots-loader {
  0% {
    box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px,
      #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  8.33% {
    box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px,
      #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  16.67% {
    box-shadow: #f86 14px 14px 0 7px, #fc6 14px 14px 0 7px, #6d7 14px 14px 0 7px,
      #4ae -14px 14px 0 7px;
  }
  25% {
    box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px,
      #6d7 -14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  33.33% {
    box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px 14px 0 7px,
      #6d7 -14px -14px 0 7px, #4ae -14px -14px 0 7px;
  }
  41.67% {
    box-shadow: #f86 14px -14px 0 7px, #fc6 -14px 14px 0 7px,
      #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  50% {
    box-shadow: #f86 14px 14px 0 7px, #fc6 -14px 14px 0 7px,
      #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  58.33% {
    box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px,
      #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  66.67% {
    box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px -14px 0 7px,
      #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  75% {
    box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px,
      #6d7 14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  83.33% {
    box-shadow: #f86 14px 14px 0 7px, #fc6 14px -14px 0 7px,
      #6d7 14px 14px 0 7px, #4ae 14px 14px 0 7px;
  }
  91.67% {
    box-shadow: #f86 -14px 14px 0 7px, #fc6 14px -14px 0 7px,
      #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  100% {
    box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px,
      #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
}

.loaded .dots-loader {
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  transform: scale(0);
}
